@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Root colors are in light mode */
:root {
  --border-color: #9CA3AF33;
  --base-bg: #FFF;
  --base-ink: #000;
  --active-ink: #56CD96;
  --icon-fill: #0B1015;
  --card-hover-bg: #A3E6351A;
  --card-hover-ink: #65A30D;
  --link-ink-blue: #60A5FA;
  --link-ink-yellow: #FACC15;
}
.dark {
  --base-bg: #121212;
  --base-ink: #FBFBFE;
  --icon-fill: #DFE0E2;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
html {
  font-size: 15px;
}

body {
  background: var(--base-bg);
  color: var(--base-ink);
  font-family: DM Sans, Avenir, sans-serif;
  font-size: 16px;
  overflow: hidden;
  tab-size: 4;
}

a {
  color: var(--ink-base);
  text-decoration: none;
  opacity: 0.7;
}
a:hover {
  opacity: 1.0;
}
